@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5ebe0;
  /* width: 100vw; */
}

.body-container {
  width: 50vw;
  text-align: center;
}

.body-container h2 {
  color: #264653;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #1d3557;
  padding: .6em 2em;
  border-radius: .5em;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}