@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assests/sticky-navbar-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.8em;
  text-align: center;
  position: relative;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .2);
  z-index: -1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #edf6f9;
  padding: 1em 1.5em;
  transition: all .3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s ease-in-out;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  text-decoration: none;
  padding-left: 20px;
  color: black;
  transition: all .3s ease-in-out;
}

.nav a.current,
.nav a:hover {
  color: #e29578;
}

.nav.active a.current,
.nav.active a:hover {
  color: white;
}

.nav.active {
  background-color: #a9999a;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.3);
  padding: .5em 1.5em;
}

.content {
  margin-top: 2em;
}

.content p {
  margin-bottom: 2em;
  letter-spacing: 1.2px;
}

.logo {
  color: #006d77;
}

@media(max-width: 1300px) {
  .content p {
    margin: 0 2.5em;
  }
  .content h2 {
    margin: 0 1.6em;
  }
}

.home-container{
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.home {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: .6em 2em;
  border-radius: .5em;
  font-weight: 700;
  background-color: #ffafcc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}